<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="primary" (click)="logoutAction()">Logout</ion-button>

</ion-content>
