<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Welcome to Sample Project</h2>
    <p>This is sample project</p>
  </ion-slide>
  <ion-slide>
    <h2>Slide 2 Title</h2>
  </ion-slide>
  <ion-slide>
    <h2>Slide 3 Title</h2>
  </ion-slide>
</ion-slides>