<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <div class="center">
        <app-logo></app-logo>
        <h1>Sign Up</h1>
    </div>
    
      <form>
      <ion-list>
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
        </ion-item>

        <ion-item>
          Already you have account? <a routerLink="/login">Sign In </a>
        </ion-item>
    
      </ion-list>
      <ion-button expand="block" share="round" color="success" (click)="signAction()">Sign Up</ion-button>
      </form>
    </ion-content>
