<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2> Welcome to {{ displayUserData?.name}}</h2>
  </ion-item>

</ion-content>
