<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
    
<ion-content padding='true'>
  <div class="center">
      <app-logo></app-logo>
      <h1>Sign In</h1>
  </div>
  
    <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username" ></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
    
    <ion-item lines='none'>
      <a routerLink='/signup'>Create Account</a>
    </ion-item>
    
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="loginAction()">Login</ion-button>
    </form>
  </ion-content>